* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  background-color: #fff;
  min-height: 100vh;
  max-width: 100%; }

.content {
  display: flex; }

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5.5rem; }

.img-about {
  width: 75%;
  height: auto;
  border: 1px solid orange; }

.heading-four {
  text-transform: uppercase;
  font-size: 1.8rem; }

p {
  font-size: 1.6rem; }

.hire {
  background-color: orange;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 15px 35px;
  cursor: pointer; }

.footer__item {
  margin-bottom: 80rem; }

.item {
  list-style: none;
  display: inline-flex; }

.navbar {
  background-color: #041230;
  display: flex;
  color: #fff;
  flex-direction: column;
  flex: 0 0 15%;
  min-height: 100vh; }
  .navbar__logo {
    font-size: 2.4rem;
    color: white;
    text-decoration: none;
    margin-left: 4rem;
    margin-top: 6rem; }
  .navbar__list {
    margin-top: 2.5rem;
    padding: 4rem; }

.item {
  list-style: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 15px; }

.item a {
  text-decoration: none;
  color: white; }

.item a:hover {
  cursor: pointer; }

.project {
  background-color: #f2f2f2;
  margin: 150px 0; }

.tabs {
  /**
   * Setting display to flex makes this container lay
   * out its children using flexbox, the exact same
   * as in the above "Stepper input" example.
   */
  display: flex;
  justify-content: center;
  border-bottom: 1px solid orange; }

.tab {
  cursor: pointer;
  padding: 5px 30px;
  color: orange;
  font-size: 12px;
  border-bottom: 2px solid transparent; }

.tab.is-tab-selected {
  border-bottom-color: orange; }

.project-head {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 25px; }

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5.5rem;
  padding-bottom: 2.5rem;
  grid-column-gap: 1.3rem;
  grid-row-gap: 1.3rem; }

.proj_1 {
  width: 100%; }

.background {
  width: 100%; }

#particles-js {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(7, 23, 55, 0.8), rgba(7, 23, 55, 0.8)), url("https://res.cloudinary.com/upperli/image/upload/v1574344841/_MG_0130_re6qmd.jpg"); }

.title {
  display: flex;
  justify-content: center; }

.profile-container {
  padding-top: 12rem; }

.img-profile {
  border-radius: 50%;
  border: 6px solid rgba(7, 23, 55, 0.8);
  width: 12rem;
  height: 12rem; }

.name-style {
  color: #fff;
  font-size: 4rem;
  display: flex;
  text-transform: uppercase;
  justify-content: center; }

.text-typing {
  color: orange;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2.5rem; }

.experience {
  background-color: #f2f2f2;
  margin: 150px 0; }

.exp_head {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 4rem; }

.card-experience {
  display: grid;
  grid-column-gap: .5rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 5rem; }

.card {
  background-color: #fff;
  border-radius: 5px;
  margin-left: 5rem; }

h6 {
  color: burlywood;
  font-size: 1.4rem; }

.details {
  padding: 25px 40px; }

.contact-me {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem; }

.form-contact {
  display: flex;
  flex-direction: column;
  padding: 2rem; }

input[type="text"] {
  max-height: 10%; }

.submit {
  background-color: orange;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 10px 15px; }
