$color-primary: #041230;
$color-secondary: #ff1493;
$color-light: #fff;



*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: 400;
  line-height: 1.6;
}

.container{

  background-color: $color-light;
  min-height: 100vh;
  max-width: 100%;
}

.content{
  display: flex;
}
