.project{
  background-color: #f2f2f2;
  margin: 150px 0;
}
.tabs {
  /**
   * Setting display to flex makes this container lay
   * out its children using flexbox, the exact same
   * as in the above "Stepper input" example.
   */
  display: flex;
  justify-content: center;

  border-bottom: 1px solid orange;
}

.tab {
  cursor: pointer;
  padding: 5px 30px;
  color: orange;
  font-size: 12px;
  border-bottom: 2px solid transparent;
}

.tab.is-tab-selected {
  border-bottom-color: orange;
}
.project-head{
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 25px;
}

.project-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5.5rem;
  padding-bottom: 2.5rem;
  grid-column-gap: 1.3rem;
  grid-row-gap: 1.3rem;
}
.proj_1{
  width: 100%;
}

